# version format
version: 1.9.0.{build}

# Do not build on tags
skip_tags: true


build_script:
  - cd BuildPackages
  - Package.build.cmd

artifacts:
  - path: Releases\*.nupkg
  - path: Releases\*.zip
  
#deploy:
  #provider: NuGet
  #server:
  #api_key:
    #secure: cRKDqHqagUzMgXLZ971fBXwpacf44O7jsIk7hfeLNo75kShTMknWjQfWLGxgKIPt
  #artifact: /.*\.nupkg/
