<div ng-controller="PageNotFoundManager.Dialog.Controller as vm">
    <div class="umb-dialog-body" ng-cloak>
        <div class="umb-pane" ng-show="vm.busy || !vm.loaded">
            <p class="abstract">
                Choose the 404 page for <strong>{{currentNode.name}}</strong> and child pages
            </p>
            <umb-load-indicator></umb-load-indicator>
        </div>
        <div class="umb-pane" ng-hide="!vm.loaded">

            <div ng-show="error">
                <div class="alert alert-error">
                    <div><strong>{{error.errorMsg}}</strong></div>
                    <div>{{error.data.message}}</div>
                </div>
            </div>

            <div ng-show="success">
                <div class="alert alert-success">
                    <strong>{{target.name}}</strong> is set as the 404 page for
                    <strong>{{currentNode.name}}</strong> and it's child pages
                </div>
                <button class="btn btn-primary" ng-click="nav.hideDialog()">Ok</button>
            </div>

            <p class="abstract" ng-hide="success">
                Choose the 404 page for <strong>{{currentNode.name}}</strong> and child pages
            </p>

            <div ng-if="pageNotFoundNode">
                <ul class="unstyled list-icons">
                    <li>
                        <i class="icon {{pageNotFoundNode.icon}} hover-hide"></i>
                        <a>{{pageNotFoundNode.name}}</a>
                        <a ng-click="clear()"><i class="icon red icon-delete"></i></a>
                    </li>
                </ul>
            </div>



            <div ng-hide="pageNotFoundNode || success">
                <div ng-hide="miniListView">
                    <umb-tree-search-box hide-search-callback="hideSearch"
                                         search-callback="onSearchResults"
                                         search-from-id="{{searchInfo.searchFromId}}"
                                         search-from-name="{{searchInfo.searchFromName}}"
                                         show-search="{{searchInfo.showSearch}}"
                                         section="{{section}}">
                    </umb-tree-search-box>

                    <br/>

                    <umb-tree-search-results ng-if="searchInfo.showSearch"
                                             results="searchInfo.results"
                                             select-result-callback="selectResult">
                    </umb-tree-search-results>

                    <div ng-hide="searchInfo.showSearch">
                        <umb-tree section="content"
                                  hideheader="{{treeModel.hideHeader}}"
                                  hideoptions="true"
                                  isdialog="true"
                                  api="dialogTreeApi"
                                  on-init="onTreeInit()"
                                  enablelistviewexpand="true"
                                  enablecheckboxes="true">
                        </umb-tree>
                    </div>
                </div>

                <umb-mini-list-view ng-if="miniListView"
                                    node="miniListView"
                                    entity-type="Document"
                                    on-select="selectListViewNode(node)"
                                    on-close="closeMiniListView()">
                </umb-mini-list-view>

            </div>
        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-hide="success || busy">
        <a class="btn btn-link" ng-click="nav.hideDialog()">
            <localize key="general_cancel">Cancel</localize>
        </a>
        <button class="btn btn-primary" ng-click="setNotFoundPage()">
            <localize key="general_ok">OK</localize>
        </button>
    </div>
</div>
